* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.notification {
    background: #03A9F4;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.notification-text {
    color: #ffffff;
    font-family: Tahoma;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
}

.notification-btn {
    color: #ffffff;
    font-family: Tahoma;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 6px;
    background: #F6BA05;
    padding: 12px 40px;
    cursor: pointer;
}
